body {
	margin: 2px;
	hyphens: auto;
}

h1, h2 {
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
	font-size: 10px;
	border-collapse: collapse;
	counter-reset: lista lista-alter-egos lista-identidades-secretas lista-grupos-personagens;
}

col[data-oculto] {
	visibility: collapse;
}

thead {
	position: sticky;
	top: 0px;
	background-color: rgb(80%, 80%, 80%);
}

tbody tr {
	counter-increment: lista;
}

tr:nth-child(2n) {
	background-color: rgb(90%, 90%, 90%);
}

tbody tr.alter-ego {
	counter-increment: lista-alter-egos;
}

tbody tr.identidade-secreta {
	counter-increment: lista-identidades-secretas;
}

tbody tr.grupo-personagens {
	counter-increment: lista-grupos-personagens;
}

td:nth-child(3), td:nth-child(5), tr.alter-ego td:nth-child(14), tr.identidade-secreta td:nth-child(15), tr.animal-estimação td:nth-child(16) {
	font-size: smaller;
}

tr:target {
	position: sticky;
	background-color: lightsteelblue;
}

th, td {
	border: solid rgb(70%, 70%, 70%) 1px;
	padding: 2px;
}

td {
	text-align: center;
}

td:first-child::before {
	content: counter(lista);
}

tr.alter-ego td:first-child::before {
	content: "AE " counter(lista-alter-egos);
}

tr.identidade-secreta td:first-child::before {
	content: "IS " counter(lista-identidades-secretas);
}

tr.grupo-personagens td:first-child::before {
	content: "G " counter(lista-grupos-personagens);
}

td:nth-child(2), td:nth-child(2):empty ~ td:nth-child(4) {
	font-weight: bold;
}

a {
	text-decoration: none;
}

span.trocadilho {
	font-variant: small-caps;
}

td:nth-child(2) > span.nome-principal[data-ordem]::after, td:nth-child(2):empty ~ td:nth-child(4) > span.nome-principal[data-ordem]::after {
	content: " (" attr(data-ordem) ")"
}

span.nome-descritivo, span.nome-completo {
	font-size: smaller;
	font-weight: normal;
}